<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
<!-- <import resource="classpath:rest-component-config.xml"/> -->

<!--    <import resource="applicationContext-ejb.xml" />                -->

<!-- Restlet components -->

        <bean id="component" class="org.restlet.ext.spring.SpringComponent">
                <property name="name" value="RESTful Biovigilans Server component" />
                <property name="description" value="Admin for Biovigilans" />
                <property name="owner" value="Kunnskapssenteret" />
                <property name="author" value="Oluf Jensen" />
            <property name="defaultTarget" ref="path2BeanRouter" />
            <property name="client" value="clap" />
        </bean>

        <bean id="component.context"
                class="org.springframework.beans.factory.config.PropertyPathFactoryBean" />
 

        <bean id="componentChildContext" class="org.restlet.Context">
                <lookup-method name="createChildContext" bean="component.context" />
        </bean>


<!-- Restlet components end -->

         <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
                <property name="locations">
                        <list>
                                <value>/config/app-config/application.properties</value>
                                <value>/config/app-config/jdbc.properties</value>
                                <value>/config/app-config/jdbcutside.properties</value>
                                <value>/config/app-config/sqladmin.properties</value>
                                <value>/config/app-config/tables.properties</value>
                                <value>/config/app-config/question.properties</value>
                                <value>/config/app-config/environment.properties</value>
                                <value>/config/app-config/parameter.properties</value>
                                <value>/config/app-config/giver.properties</value>
                       			<value>/config/app-config/kontakt.properties</value>
                                <value>/config/app-config/andreHendelser.properties</value>
                                <value>/config/app-config/dbtable.properties</value>
                        </list>
                </property>
         </bean>
 
        <bean id="ICD10WebService" class="no.naks.biovigilans_admin.web.control.ICD10WebServiceImpl">
<!--  C:\\biovigilans\\temp\\ICD10CM.xml  C:\biovigilans\temp     -->
 <!--        <property name="xmlFillocation" value= "Z:\\prosjekter\\hemovgilans\\icd10\\ICD10CM_FY2014_Full_XML\\ICD10CM.xml" ></property>   -->   
				<property name="xmlFillocation" value= "C:\\biovigilans\\temp\\ICD10CM.xml" ></property>  
<!--				<property name="xmlFillocation" value= "/var/tmp/icd10/ICD10CM.xml" ></property>  -->

        </bean> 

            	
	 	<bean name="path2BeanRouter" class="org.restlet.ext.spring.SpringBeanRouter"> 
<!-- 
            <property name="attachments"> 
            <map> 
               <entry key="/css/" value-ref="docsDir" /> 
            </map> 
        </property> 
  -->       
		</bean>
<!-- Disse ekstra server resource eksekveres når stylesheet hentes av html  -->
        <bean name="/hemovigilans/css/bootstrap.css" id="cssServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.simple.CssServerResource">
        </bean>
        <bean name="/hemovigilans/scripts/hendelser.js" id="bootstrapServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.simple.BootstrapjsServerResource">
        </bean>         
        <bean name="/hemovigilans/css/default.css" id="defaultServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.simple.DefaultCssServerResource">
        </bean>         
        
        <bean name="/hemovigilans/css/reset.css" id="resetServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.simple.ResetCssServerResource">
        </bean>
        <bean name="/hemovigilans/css/sitemap.css" id="sitemapServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.simple.SitemapCssServerResource">
        </bean> 
 <!-- end ekstra server resource -->

                
        <bean name="/hemovigilans/" id="adminServerResourceHTML" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.RapporterMainServerResourceHtml">
        <property name="sessionAdmin" ref="sessionAdmin"></property>

        </bean>
        <bean name="/hemovigilans/analyse_admin_main.html" id="analyseServerResourceHTML" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.RapporterAnalyseServerResourceHTML">
        <property name="sessionAdmin" ref="sessionAdmin"></property>

        </bean> 
        <bean name="/hemovigilans/saksbehandling.html" id="sakServerResourceHTML" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.SaksbehandlingServerResourceHTML">
        	<property name="sessionAdmin" ref="sessionAdmin"></property>
			<property name="saksbehandlingWebservice" ref="saksBehandlerWebService"></property>
        </bean>      
        <bean id="sessionAdmin" class="no.naks.biovigilans_admin.web.control.SessionAdminImpl">
        
        </bean>


        <bean id="propertiesHolder" class="no.naks.web.properties.PropertiesHolder">
                <property name="imagePath" value="${image.archive.path}" />
        </bean>
		<bean id="saksBehandlerWebService" class="no.naks.biovigilans_admin.web.control.SaksbehandlingWebServiceImpl">
			<property name="saksbehandlingService" ref="saksbehandlingService"></property>
			<property name="melderTableService" ref="melderTableService"></property>
		</bean>
	
<!-- Exception handling -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="error/exception" />
        <property name="defaultStatusCode" value="500" />
        <property name="warnLogCategory" value="WARN" />
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.webflow.execution.repository.FlowExecutionRestorationFailureException">velkommen</prop>
                
            </props>
        </property>
    </bean>

</beans>
