<?xml version="1.0" encoding="UTF-8"?>
<!-- 
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
 -->

<beans

xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
       	   http://www.springframework.org/schema/aop/spring-aop-2.5.xsd "
>
	
	<bean id="dataSourceHelsebiblioteket" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver"></property>
		<property name="url" value="jdbc:postgresql://localhost/helsebiblioteket_admin"></property>
		<property name="username" value="helsebiblioteket"></property>
		<property name="password" value="helsebiblioteket"></property>
	</bean>

	<bean id="jdbcTemplateHelsebiblioteket" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSourceHelsebiblioteket"></property>
	</bean>

	<bean id="accessDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapAccessDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="accessTypeDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapAccessTypeDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="resourceDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapResourceDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="resourceTypeDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapResourceTypeDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="supplierSourceDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapSupplierSourceDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="ibatis-sqlmapconfig-location" class="org.springframework.core.io.FileSystemResource">
		<constructor-arg value="./desc/evs-plugin-test/sqlmap-config.xml" />
	</bean>
	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
    	<property name="configLocation" ref="ibatis-sqlmapconfig-location"/>
    	<property name="dataSource" ref="dataSourceHelsebiblioteket"/>
   	</bean>
   	
	<bean id="urlService" class="no.helsebiblioteket.admin.service.impl.URLServiceImpl">
    	<property name="accessService" ref="accessService"></property>
    	<property name="proxyPrefix" value="http://proxy-t.helsebiblioteket.no/login?url="></property>
  	</bean>
   	
   	<bean id="accessService" class="no.helsebiblioteket.admin.service.impl.AccessServiceImpl">
  		<property name="accessDao" ref="accessDao"></property>
  		<property name="accessTypeDao" ref="accessTypeDao"></property>
  		<property name="supplierSourceDao" ref="supplierSourceDao"></property>
  		<property name="resourceDao" ref="resourceDao"></property>
  		<property name="resourceTypeDao" ref="resourceTypeDao"></property>
  	</bean>

</beans>