<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--	<import resource="applicationContext-ejb.xml" /> 		-->

<!-- Restlet components -->

	<bean id="component" class="org.restlet.ext.spring.SpringComponent">
		<property name="name" value="RESTful Fagprosedyre Server component" />
		<property name="description" value="Example for Fagprosedyrer" />
		<property name="owner" value="Kunnskapssenteret" />
		<property name="author" value="Oluf Jensen" />
	    <property name="defaultTarget" ref="path2BeanRouter" />
	    <property name="client" value="clap" />
	</bean>

	<bean id="component.context"
		class="org.springframework.beans.factory.config.PropertyPathFactoryBean" />
 

	<bean id="componentChildContext" class="org.restlet.Context">
		<lookup-method name="createChildContext" bean="component.context" />
	</bean>
<!-- 	
	<bean id="docsDir" class="org.restlet.resource.Directory"> 
        <constructor-arg name="context" ref="componentChildContext" /> 
        <constructor-arg name="rootUri" value="clap:///no/naks/web/server/resource/css/" /> 
        <property name="indexName" value="index" /> 
    </bean>
    
    	<bean id="localdocsDir" class="no.naks.web.server.resource.ProsedyreDirectory"> 
        <constructor-arg name="context" ref="componentChildContext" /> 
        <constructor-arg name="rootUri" value="file://fagprosedyrer_web/restapi/melding/css" /> 
        <property name="indexName" value="style.css" /> 
    </bean>
-->
<!-- 
	<bean id="directoryService" class="no.naks.web.server.resource.ProsedyreDirectory">
		<property name="context" ref="componentChildContext"></property>
	</bean>
 -->	
	<!-- This router automagically routes requests to beans that extend org.restlet.resource.ServerResource or org.restlet.Restlet who's name starts with
	 a "/" slash which matches the request-->

<!-- 
	<bean id="FagprosedyreApiApplication" class="no.naks.web.server.FagprosedyreApiApplication">
	

		<property name="name" value="RESTful Fagprosedyre API application" />
		<property name="description"
			value="Fagprosedyre API application for Kunnskapssenteret" />
		<property name="owner" value="Kunnskapssenteret" />
		<property name="author" value="Oluf Jensen" />
		<property name="root" ref="path2BeanRouter"/>
	
	</bean>
 -->	

<!-- Restlet components end -->

	 <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	 	<property name="locations">
	 		<list>
	 			<!-- <value>/WEB-INF/application.properties</value>
	 			<value>/WEB-INF/jdbc.properties</value>
	 			<value>/WEB-INF/jdbcutside.properties</value>
	 			<value>/WEB-INF/sqladmin.properties</value>
	 			<value>/WEB-INF/tables.properties</value>
	 			<value>/WEB-INF/question.properties</value>
	 			<value>/WEB-INF/environment.properties</value> -->
	 			<value>/config/app-config/application.properties</value>
	 			<value>/config/app-config/jdbc.properties</value>
	 			<value>/config/app-config/jdbcutside.properties</value>
	 			<value>/config/app-config/sqladmin.properties</value>
	 			<value>/config/app-config/tables.properties</value>
	 			<value>/config/app-config/question.properties</value>
	 			<value>/config/app-config/environment.properties</value>
	 		</list>
	 	</property>
	 </bean>
	<bean id="tableWebService" class="no.naks.web.control.TableWebServiceImpl">
	<!--  
		<property name="masterDictionary" ref="domainDictionary"></property>
		<property name="foretakKey" value="foretakkey"></property>
--> 		
		<property name="nhnFlag" value="false"></property>
<!-- 		<property name="meldingService" ref="meldingService"></property>
	 	<property name="nhnClient" ref="nhnClient"></property>  -->
		<property name="hiveService" ref="hiveService"></property>


	</bean>
	

	<bean id="hiveService" class="no.naks.semweb.control.HiveServiceImpl">
		<property name="hivePath" value="C:\\svnroot2\\nokc\\semantiskweb\\trunk\\semantiskweb_web\\src\\main\\webapp\\config\\app-config\"></property>
		<property name="treeElements">
			<list><value>Anatomi</value>
			<value>Organisme</value>
			<value>Sykdommer</value>
			<value>Kjemikalier og medisiner</value>
			<value>Analyse, diagnoser og terapeutiske teknikker og utstyr</value>
			<value>Psykiatri og Psykologi</value>
			<value>Antropologi Utdanning og sosiologi</value>
			<value>Teknologi, Industri, Jordbruk</value>
			<value>Humanoria</value>
			<value>Informasjonsvitenskap</value>
			<value>Navngitte grupper</value>
			<value>Helsevesenet</value>
			<value>Publikasjonkarakteristiska</value>
			<value>Geografi</value>
			</list>
		</property>
		<property name="anatomi">
			<list>
				<value>Body Regions</value>
				<value>Musculoskeletal System</value>
				<value>Digestive System</value>
				<value>Respiratory System</value>
				<value>Urogenital System</value>
				<value>Endocrine System</value>
				<value>Cardiovascular System</value>
				<value>Nervous System</value>
				<value>Sense Organs</value>
				<value>Tissues</value>
				<value>Cells</value>
				<value>Fluids and Secretions</value>
				<value>Animal Structure</value>
				<value>Stomatognathic System</value>
				<value>Hemic and Immune Systems</value>
				<value>Embryonic Structures</value>
				<value>Integumentary System</value>
				<value>Plant Structure</value>
				<value>Fungal Structure</value>
				<value>Bacterial Structure</value>
				<value>Viral Structure</value>
			
			</list>
		</property>
	</bean>	
		
	<bean name="path2BeanRouter" class="org.restlet.ext.spring.SpringBeanRouter">
<!-- 
	    <property name="attachments"> 
            <map> 
               <entry key="/css/" value-ref="docsDir" /> 
            </map> 
        </property> 
  -->       
	</bean>
<!-- Denne server resource eksekveres når stylesheet hentes av html  -->
 	<bean name="/innmelding/css/style.css" id="cssServerResource" autowire="byName" scope="prototype"
            class="no.naks.web.server.resource.CssServerResource">
 	</bean>
 	
 	<bean name="/innmelding/" id="innmeldingServerResourceHTML" autowire="byName" scope="prototype"
            class="no.naks.web.server.resource.InnmeldingServerResourceHtml">
     	<property name="sessionAdmin" ref="sessionAdmin"></property>
     	<property name="tablewebservice" ref="tableWebService"></property>
     	<property name="innmeldingWebService" ref="innmeldingWebService"></property>
     	<property name="sessionParams" value="${innmelding.tittel},${innmelding.begrunnelse},
     	${innmelding.pasienterValgt},${innmelding.helsepersonell},${innmelding.oppstart},${innmelding.ferdig},
     	${innmelding.internleder},${innmelding.internledertittel},${innmelding.internlederepost}">
		</property>
 	</bean>
 
 	<bean name="/trace" autowire="byName" scope="prototype"
            class="no.naks.web.server.resource.Tracer">
     </bean>
<!-- Med samme addresse som CssServerResource  (se over)så finner ikke server denne stylesheet  -->  	
 	<bean name="/innmelding/css/" id="cssDir" autowire="byName" scope="prototype"
            class="no.naks.web.server.resource.ProsedyreDirectory">
             <constructor-arg name="context" ref="componentChildContext" /> 
        <constructor-arg name="rootUri" value="clap://class//innmelding/css/style.css" /> <!-- file: or clap: ? -->
        <property name="indexName" value="style.css" /> 
    </bean>
     
	<bean id="sessionAdmin" class="no.naks.web.control.SessionAdminImpl">
	
	</bean>


	<bean id="propertiesHolder" class="no.naks.web.properties.PropertiesHolder">
		<property name="imagePath" value="${image.archive.path}" />
	</bean>
	<bean id="innmeldingWebService" class="no.naks.web.control.InnmeldingWebServiceImpl">
	
	</bean>

<!-- Exception handling -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="error/exception" />
        <property name="defaultStatusCode" value="500" />
        <property name="warnLogCategory" value="WARN" />
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.webflow.execution.repository.FlowExecutionRestorationFailureException">velkommen</prop>
                
            </props>
        </property>
    </bean>

</beans>