<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSourceskjemabank" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${database.driver}"></property>
		<property name="url" value="${database.url.innsiden}"></property>
		<property name="username" value="${database.username}"></property>
		<property name="password" value="${database.password}"></property>
	</bean>

	<bean id="jdbcTemplateskjemabank" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSourceskjemabank"></property>
	</bean>
	<bean id="domainDictionary" class="no.naks.framework.web.control.DomainDictionaryImpl">
  </bean>
  
  <!-- /usr/local/tomcat6/xml/ -->
  <!-- c:\\temp\\c:\\temp\\ -->
  <bean id="meldingService" class="no.naks.nhn.service.MelderServiceImpl" >
  		<property name="marshaller" ref="castorMarshaller"></property>
   		<property name="catalog" value="c:\\temp\\"></property>
  		<property name="FILE_NAME" value="basismelding"></property>
  		<property name="opSys" value="DOS"></property>
  		<property name="sysCommand" value="ls"></property>
    	<property name="production" value="false"></property>
  </bean>
  <bean id="castorMarshaller" class="org.springframework.oxm.castor.CastorMarshaller">
  
  </bean>


	<bean id="nhnClient" class="no.naks.nhn.service.NHNServiceClientImpl">
		<property name="authenticatorUser" value="webservice"></property>
		<property name="authenticatorPassword" value=""></property>
		<property name="production" value="false"></property>
		<property name="maxAdr" value="3"></property>
		<property name="prodUrl" value="https://ws.nhn.no/Basic/v1/AR"></property>
	</bean>
	
	

</beans>

