<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  	<bean id="applicationContext" class="org.apache.axis2.extensions.spring.receivers.ApplicationContextHolder" />
  	<!-- TODO: Not working here?
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	 	<property name="locations">
	 		<list>
	 			<value>./desc/jdbc.properties</value>
	 		</list>
		</property>
	</bean>
	-->

	<!-- Data source -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
    	<property name="configLocation" value="file:./desc/sqlmap-config.xml"/>
    	<property name="dataSource" ref="dataSourceHelsebiblioteket"/>
   	</bean>
	<bean id="jdbcTemplateHelsebiblioteket" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSourceHelsebiblioteket"></property>
	</bean>
	<bean id="dataSourceHelsebiblioteket" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<!-- TODO: Not working here?
		<property name="driverClassName" value="${database.driver}"></property>
		<property name="url" value="${database.url}"></property>
		<property name="username" value="${database.username}"></property>
		<property name="password" value="${database.password}"></property>
		-->
		<property name="driverClassName" value="org.postgresql.Driver"></property>
		<property name="url" value="jdbc:postgresql://localhost/helsebiblioteket_admin_dump"></property>
		<property name="username" value="helsebiblioteket"></property>
		<property name="password" value="helsebiblioteket"></property>
	</bean>

	<!-- Web Services -->
  	<bean id="accessService" class="no.helsebiblioteket.admin.webservice.AccessServiceWeb" init-method="init">
		<property name="serviceClient" ref="accessServiceClient" />
		<property name="targetEPR" ref="accessServiceTargetEPR" />
		
		<property name="insertSupplierSourceResource" ref="insertSupplierSourceResourceName" />
		<property name="deleteSupplierSourceResource" ref="deleteSupplierSourceResourceName" />
		<property name="deleteResourceAccess" ref="deleteResourceAccessName" />
		<property name="insertUserAccess" ref="insertUserAccessName" />
		<property name="insertUserRoleAccess" ref="insertUserRoleAccessName" />
		<property name="insertOrganizationAccess" ref="insertOrganizationAccessName" />
		<property name="insertOrganizationTypeAccess" ref="insertOrganizationTypeAccessName" />
		<property name="accessTypeByTypeCategory" ref="accessTypeByTypeCategoryName" />
		<property name="resourceTypeByKey" ref="resourceTypeByKeyName" />
		<property name="accessListByUser" ref="accessListByUserName" />
		<property name="accessListByRole" ref="accessListByRoleName" />
		<property name="accessListByOrganization" ref="accessListByOrganizationName" />
		<property name="accessListByOrganizationType" ref="accessListByOrganizationTypeName" />
		<property name="supplierSourceListAll" ref="supplierSourceListAllName" />
	</bean>
	<bean name="accessServiceTargetEPR" class="org.apache.axis2.addressing.EndpointReference">
		<constructor-arg value="http://localhost:8080/axis2/services/accessService" />
	</bean>
	<bean name="accessServiceClient" class="org.apache.axis2.rpc.client.RPCServiceClient">
	</bean>
	
  	<bean id="actionService" class="no.helsebiblioteket.admin.webservice.ActionServiceWeb" init-method="init">
		<property name="serviceClient" ref="actionServiceClient" />
		<property name="targetEPR" ref="actionServiceTargetEPR" />
		
		<property name="insertUserActionName" ref="insertUserActionName" />
		<property name="insertOrganizationActionName" ref="insertOrganizationActionName" />
		<property name="getUserByActionName" ref="getUserByActionName" />
		<property name="getOrganizationByActionName" ref="getOrganizationByActionName" />
		<property name="getActionListByUserName" ref="getActionListByUserName" />
		<property name="getActionListByOrganizationName" ref="getActionListByOrganizationName" />
		<property name="getActionListByResourceName" ref="getActionListByResourceName" />
		<property name="getActionListByAccessTypeName" ref="getActionListByAccessTypeName" />
	</bean>
	<bean name="actionServiceTargetEPR" class="org.apache.axis2.addressing.EndpointReference">
		<constructor-arg value="http://localhost:8080/axis2/services/actionService" />
	</bean>
	<bean name="actionServiceClient" class="org.apache.axis2.rpc.client.RPCServiceClient">
	</bean>

	<bean id="emailService" class="no.helsebiblioteket.admin.webservice.EmailServiceWeb" init-method="init">
		<property name="serviceClient" ref="emailServiceClient" />
		<property name="targetEPR" ref="emailServiceTargetEPR" />

		<property name="sendEmailName" ref="sendEmailName" />
	</bean>
	<bean name="emailServiceTargetEPR" class="org.apache.axis2.addressing.EndpointReference">
		<constructor-arg value="http://localhost:8080/axis2/services/emailService" />
	</bean>
	<bean name="emailServiceClient" class="org.apache.axis2.rpc.client.RPCServiceClient">
	</bean>
	
  	<bean id="loginService" class="no.helsebiblioteket.admin.webservice.LoginServiceWeb" init-method="init">
		<property name="serviceClient" ref="loginServiceClient" />
		<property name="targetEPR" ref="loginServiceTargetEPR" />
		
		<property name="logInIpAddressName" ref="logInIpAddress" />
		<property name="logInUserName" ref="logInUser" />
		<property name="sendPasswordEmailName" ref="sendPasswordEmail" />
	</bean>
	<bean name="loginServiceTargetEPR" class="org.apache.axis2.addressing.EndpointReference">
		<constructor-arg value="http://localhost:8080/axis2/services/loginService" />
	</bean>
	<bean name="loginServiceClient" class="org.apache.axis2.rpc.client.RPCServiceClient">
	</bean>

  	<bean id="organizationService" class="no.helsebiblioteket.admin.webservice.OrganizationServiceWeb" init-method="init">
		<property name="serviceClient" ref="organizationServiceClient" />
		<property name="targetEPR" ref="organizationServiceTargetEPR" />
		
		<property name="organizationTypeListAllName" ref="organizationTypeListAllName" />
		<property name="organizationTypeByKeyName" ref="organizationTypeByKeyName" />
		<property name="organizationListAllName" ref="organizationListAllName" />
		<property name="findOrganizationsBySearchString" ref="findOrganizationsBySearchString" />
		<property name="organizationByListItemName" ref="organizationByListItemName" />
		<property name="insertMemberOrganizationName" ref="insertMemberOrganizationName" />
		<property name="insertSupplierOrganizationName" ref="insertSupplierOrganizationName" />
		<property name="updateOrganizationName" ref="updateOrganizationName" />
		<property name="addIpAddresses" ref="addIpAddressesName" />
		<property name="addIpAddressRanges" ref="addIpAddressRangesName" />
		<property name="deleteIpAddresses" ref="deleteIpAddressesName" />
		<property name="organizationListIpAddressName" ref="organizationListIpAddressName" />
  	</bean>
  	<bean name="organizationServiceTargetEPR" class="org.apache.axis2.addressing.EndpointReference">
		<constructor-arg value="http://localhost:8080/axis2/services/organizationService" />
	</bean>
	<bean name="organizationServiceClient" class="org.apache.axis2.rpc.client.RPCServiceClient">
	</bean>
  	
  	<bean id="urlService" class="no.helsebiblioteket.admin.webservice.URLServiceWeb" init-method="init">
		<property name="serviceClient" ref="urlServiceClient" />
		<property name="targetEPR" ref="urlServiceTargetEPR" />
		
		<property name="isAffectedName" ref="isAffectedName" />
		<property name="translateUrlUserName" ref="translateUrlUserName" />
		<property name="translateUrlOrganizationName" ref="translateUrlOrganizationName" />
		<property name="translateUrlUserOrganizationName" ref="translateUrlUserOrganizationName" />
		<property name="hasAccessUserName" ref="hasAccessUserName" />
		<property name="hasAccessOrganizationName" ref="hasAccessOrganizationName" />
		<property name="hasAccessUserOrganizationName" ref="hasAccessUserOrganizationName" />
		<property name="groupName" ref="groupName" />
  	</bean>
  	<bean name="urlServiceTargetEPR" class="org.apache.axis2.addressing.EndpointReference">
		<constructor-arg value="http://localhost:8080/axis2/services/urlService" />
	</bean>
	<bean name="urlServiceClient" class="org.apache.axis2.rpc.client.RPCServiceClient">
	</bean>

  	<bean id="userDetailsService" class="no.helsebiblioteket.admin.webservice.UserDetailsServiceWeb" init-method="init">
		<property name="targetEPR" ref="userDetailsServiceTargetEPR" />
		<property name="serviceClient" ref="userDetailsServiceClient" />
  		
  		<property name="loadUserByUsernameName" ref="loadUserByUsernameName"></property>
  	</bean>
  	<bean name="userDetailsServiceTargetEPR" class="org.apache.axis2.addressing.EndpointReference">
		<constructor-arg value="http://localhost:8080/axis2/services/userDetailsService" />
	</bean>
	<bean name="userDetailsServiceClient" class="org.apache.axis2.rpc.client.RPCServiceClient">
	</bean>

  	<bean id="userService" class="no.helsebiblioteket.admin.webservice.UserServiceWeb" init-method="init">
		<property name="serviceClient" ref="userServiceClient" />
		<property name="targetEPR" ref="userServiceTargetEPR" />
  	
  		<property name="roleListBySystem" ref="roleListBySystemName"></property>
  		<property name="systemByKey" ref="systemByKeyName"></property>
  		<property name="positionListAllName" ref="positionListAllName"></property>
  		<property name="roleByKeyName" ref="roleByKeyName"></property>
  		<property name="userListAllName" ref="userListAllName"></property>
  		<property name="findUsersBySearchStringRolesName" ref="findUsersBySearchStringRolesName"></property>
  		<property name="findUserByUsernameName" ref="findUserByUsernameName"></property>
  		<property name="userByUserListItemName" ref="userByUserListItemName"></property>
  		<property name="insertUserName" ref="insertUserName"></property>
  		<property name="updateUserName" ref="updateUserName"></property>
  		<property name="positionByKey" ref="positionByKeyName"></property>
  		
  	</bean>
  	<bean name="userServiceTargetEPR" class="org.apache.axis2.addressing.EndpointReference">
		<constructor-arg value="http://localhost:8080/axis2/services/userService" />
	</bean>
	<bean name="userServiceClient" class="org.apache.axis2.rpc.client.RPCServiceClient">
	</bean>


	<!-- QNames -->
	<bean name="insertSupplierSourceResourceName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="insertSupplierSourceResource" />
	</bean>
	<bean name="deleteSupplierSourceResourceName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="deleteSupplierSourceResource" />
	</bean>
	<bean name="deleteResourceAccessName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="deleteResourceAccess" />
	</bean>
	<bean name="insertUserAccessName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="insertUserResourceAccess" />
	</bean>
	<bean name="insertUserRoleAccessName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="insertUserRoleResourceAccess" />
	</bean>
	<bean name="insertOrganizationAccessName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="insertOrganizationResourceAccess" />
	</bean>
	<bean name="insertOrganizationTypeAccessName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="insertOrganizationTypeResourceAccess" />
	</bean>
	<bean name="accessTypeByTypeCategoryName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getAccessTypeByTypeCategory" />
	</bean>
	<bean name="resourceTypeByKeyName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getResourceTypeByKey" />
	</bean>
	<bean name="accessListByUserName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getAccessListByUser" />
	</bean>
	<bean name="accessListByRoleName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getAccessListByRole" />
	</bean>
	<bean name="accessListByOrganizationName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getAccessListByOrganization" />
	</bean>
	<bean name="accessListByOrganizationTypeName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getAccessListByOrganizationType" />
	</bean>
	<bean name="supplierSourceListAllName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getSupplierSourceListAll" />
	</bean>

	<bean name="insertUserActionName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="insertUserAction" />
	</bean>
	<bean name="insertOrganizationActionName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="insertOrganizationAction" />
	</bean>
	<bean name="getUserByActionName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getUserByAction" />
	</bean>
	<bean name="getOrganizationByActionName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getOrganizationByAction" />
	</bean>
	<bean name="getActionListByUserName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getActionListByUser" />
	</bean>
	<bean name="getActionListByOrganizationName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getActionListByOrganization" />
	</bean>
	<bean name="getActionListByResourceName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getActionListByResource" />
	</bean>
	<bean name="getActionListByAccessTypeName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getActionListByAccessType" />
	</bean>

	<bean name="logInIpAddress" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="loginOrganizationByIpAddress" />
	</bean>
	<bean name="logInUser" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="loginUserByUsernamePassword" />
	</bean>
	<bean name="sendPasswordEmail" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="sendPasswordEmail" />
	</bean>
	
	<bean name="sendEmailName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="sendEmail" />
	</bean>

	<bean name="organizationTypeListAllName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getOrganizationTypeListAll" />
	</bean>
	<bean name="organizationTypeByKeyName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getOrganizationTypeByKey" />
	</bean>
	<bean name="organizationListAllName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getOrganizationListAll" />
	</bean>
	<bean name="findOrganizationsBySearchString" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getOrganizationListBySearchString" />
	</bean>
	<bean name="organizationByListItemName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getOrganizationByListItem" />
	</bean>
	<bean name="insertMemberOrganizationName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="insertMemberOrganization" />
	</bean>
	<bean name="insertSupplierOrganizationName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="insertSupplierOrganization" />
	</bean>
	<bean name="updateOrganizationName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="updateOrganization" />
	</bean>
	<bean name="addIpAddressesName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="addIpAddresses" />
	</bean>
	<bean name="addIpAddressRangesName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="addIpAddressRanges" />
	</bean>
	<bean name="deleteIpAddressesName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="deleteIpAddresses" />
	</bean>
	<bean name="organizationListIpAddressName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getOrganizationListByIpAddress" />
	</bean>

	<bean name="isAffectedName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="isAffected" />
	</bean>
	<bean name="translateUrlUserName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="translateUrlUser" />
	</bean>
	<bean name="translateUrlOrganizationName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="translateUrlOrganization" />
	</bean>
	<bean name="translateUrlUserOrganizationName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="translateUrlUserOrganization" />
	</bean>
	<bean name="hasAccessUserName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="hasAccessUser" />
	</bean>
	<bean name="hasAccessOrganizationName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="hasAccessOrganization" />
	</bean>
	<bean name="hasAccessUserOrganizationName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="hasAccessUserOrganization" />
	</bean>
	<bean name="groupName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="group" />
	</bean>
	
	<bean name="loadUserByUsernameName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://userdetails.security.springframework.org" />
		<constructor-arg value="loadUserByUsername" />
	</bean>

	<bean name="systemByKeyName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getSystemByKey" />
	</bean>
	<bean name="roleListBySystemName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getRoleListBySystem" />
	</bean>
	<bean name="positionListAllName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getPositionListAll" />
	</bean>
	<bean name="positionByKeyName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getPositionByKey" />
	</bean>
	<bean name="roleByKeyName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getRoleByKeySystem" />
	</bean>
	<bean name="userListAllName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getUserListAll" />
	</bean>
	<bean name="findUsersBySearchStringRolesName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="findUsersBySearchStringRoles" />
	</bean>
	<bean name="findUserByUsernameName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="findUserByUsername" />
	</bean>
	<bean name="userByUserListItemName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="getUserByUserListItem" />
	</bean>
	<bean name="insertUserName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="insertUser" />
	</bean>
	<bean name="updateUserName" class="javax.xml.namespace.QName">
		<constructor-arg value="http://service.admin.helsebiblioteket.no" />
		<constructor-arg value="updateUser" />
	</bean>


	<!-- DAO -->
	<bean id="accessDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapAccessDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="actionDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapActionDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="userDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapUserDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="organizationDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapOrganizationDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="organizationTypeDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapOrganizationTypeDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="contactInformationDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapContactInformationDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="ipRangeDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapIpRangeDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="resourceTypeDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapResourceTypeDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="roleDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapRoleDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="positionDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapPositionDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="personDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapPersonDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="profileDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapProfileDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="accessTypeDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapAccessTypeDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="organizationListDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapOrganizationListDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="organizationNameDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapOrganizationNameDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="resourceDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapResourceDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="supplierSourceDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapSupplierSourceDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="systemDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapSystemDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="userListDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapUserListDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="userRoleDao" class="no.helsebiblioteket.admin.sqlmapdao.SqlMapUserRoleDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>

</beans>
