<?xml version="1.0" encoding="UTF-8"?>
<config>
    <mail>
        <host-name>mail.osl.basefarm.net</host-name>
        <sender>david.p1ngviner@gmail.com</sender>
        <save-folder>1151</save-folder>
        <receivers>
            <receiver>daa@enonic.com</receiver>
            <receiver>david.p1ngviner@gmail.com</receiver>
        </receivers>
    </mail>
    <category key="596">
        <fields>
            <field name="url" />
        </fields>
    </category>
    <!--
    <category key="89">
        <fields>
            <field name="url" />
        </fields>
    </category>
    <category key="826">
        <fields>
            <field name="url" />
        </fields>
    </category>
    <category key="37">
        <fields>
            <field name="text" htmlarea="true" />
        </fields>
    </category>
    <category key="336">
        <fields>
            <field name="text" htmlarea="true" />
        </fields>
    </category>
    <category key="522">
        <fields>
            <field name="url" />
        </fields>
    </category>-->
    <!--
    <category key="720">  boks, ikke no lenke enda så vidt jeg kan se
        <fields>
            <field name="text" htmlarea="true" />
        </fields>
    </category>
    <category key="163"> emneboks, kun ref til url
        <fields>
            <field name="url" />
        </fields>
    </category>
    <category key="569">  frontbox, bare referanser til lenker
        <fields>
            <field name="text" htmlarea="true" />
        </fields>
    </category>
    -->
</config>